alabaster==0.7.12
argon2-cffi==20.1.0
asn1crypto==0.24.0
astropy==3.2.1
async-generator==1.10
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.7.1
bleach==3.1.0
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.2.1
cryptography==2.7
cycler==0.10.0
Cython==0.29.14
cytoolz==0.9.0.1
dacq2py==0.1.7
dask==1.2.2
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
elephant==0.6.3
entrypoints==0.3
ephyviewer==1.0.1
filelock==3.0.12
glob2==0.6
h5py==2.9.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
ipdb==0.12
ipykernel==5.4.3
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.13.3
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.1.0
libarchive-c==2.8
llvmlite==0.29.0
mahotas==1.4.7
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
more-itertools==7.0.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
neo==0.7.2
nest-asyncio==1.5.1
networkx==2.3
notebook==6.2.0
numba==0.44.1
numpy==1.20.3
numpy_groupies==0.9.13
olefile==0.46
openEPhys-DACQ==0.88.2
packaging==19.0
pandas==1.1.3
pandas-flavor==0.1.2
pandocfilters==1.4.3
paramiko==2.6.0
parso==0.4.0
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pingouin==0.2.9
pkginfo==1.5.0.1
pluggy==0.12.0
prometheus-client==0.9.0
prompt-toolkit==2.0.9
psutil==5.6.2
ptitprince==0.2.5
ptyprocess==0.6.0
py==1.8.0
pyarrow==4.0.1
pycorrelate==0.3
pycosat==0.6.3
pycparser==2.19
pygame==1.9.6
Pygments==2.4.2
PyHamcrest==2.0.0
PyNaCl==1.4.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyqtgraph==0.10.0
pyrsistent==0.17.3
PySocks==1.7.0
pytest==4.6.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==19.0.2
qtconsole==5.0.2
QtPy==1.9.0
quantities==0.12.3
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.2
scikits.bootstrap==0.3.3
scipy==1.3.0
seaborn==0.11.0
Send2Trash==1.5.0
six==1.12.0
snowballstemmer==2.0.0
soupsieve==1.8
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
statannot==0.2.2
statsmodels==0.10.1
terminado==0.9.2
testpath==0.4.4
toolz==0.9.0
tornado==6.1
tqdm==4.32.1
traitlets==4.3.2
twine==2.0.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==0.5.1
